/* general */
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: #000000;
    cursor: default;
}

a, a:visited, a:hover, .blue {
    color: #0000ff;
}
a:hover{
    color: #11B4EB;
}

form {
    display: inline;
}

.white_text {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
}

.customer_text {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 20px;
    color: #d6d6d6;
}

.content {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 1060px;
    padding: 20px;
}

hr {
    border: 0;
    color: #ccc;
    height: 1px;
    border: 1px dotted #cccccc;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10px;
    color: #393838;
}

/* inputs */
.input, textarea.input_small, textarea.input_medium {
    width: 160px;
}

textarea.input_small {
    height: 32px;
}

textarea.input_medium {
    height: 60px;
}

textarea.input {
    width: 400px;
}

select.input {
    width: 250px;
}

input {
    color: #44627E;
    font: 8pt Arial;
}

input.long {
    width: 400px
}

input.readonly, textarea.readonly, select.readonly {
    color: #999
}

select {
    color: #44627E;
    font: 8pt Arial;
}

textarea {
    color: #44627E;
}

a.bli {
    background: url(../images/icon_links.png) 0 0;
    cursor: pointer;
    display: block;
    float: left;
    height: 17px;
    width: 26px
}

a.ccs {
    background: url(../images/icon_links.png) -26px 0;
    cursor: pointer;
    display: block;
    float: left;
    height: 17px;
    width: 31px
}

a.sim {
    background: url(../images/icon_links.png) -57px 0;
    cursor: pointer;
    display: block;
    float: left;
    height: 17px;
    width: 26px
}

a.bli:hover {
    background-position: 0 -17px
}

a.ccs:hover {
    background-position: -26px -17px
}

a.sim:hover {
    background-position: -57px -17px
}

/* YY */
.page_first {
    background: url(../images/paging_first.gif) top left no-repeat;
    height: 25px;
    width: 25px;
    position: relative
}

.page_prev {
    background: url(../images/paging_previous.gif) top left no-repeat;
    height: 25px;
    width: 25px;
    position: relative
}

.page_next {
    background: url(../images/paging_next.gif) top left no-repeat;
    height: 25px;
    width: 25px;
    position: relative
}

.page_last {
    background: url(../images/paging_last.gif) top left no-repeat;
    height: 25px;
    width: 25px;
    position: relative
}

a.fillspace {
    outline: none;
    border: 0;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0
}

.taskbox {
    float: right;
    width: 200px;
    text-align: left;
    border: 1px dotted #AAA;
    padding: 20px;
    color: #434343;
    margin-bottom: 20px
}

.taskbox h3 {
    color: #434343
}

.clear {
    clear: both
}

.left {
    float: left;
    text-align: left
}

.right {
    float: right;
    text-align: right
}

.link {
    cursor: pointer
}

.padLeft5 {
    padding-left: 5px
}

.padLeft15 {
    padding-left: 15px
}

.padRight5 {
    padding-right: 5px
}

.marginLeft5 {
    margin-left: 5px
}

.marginRight5 {
    margin-right: 5px
}

.largeButton {
    padding: 20px
}

.ui-buttonset label.ui-button {
    margin-bottom: 5px
}

#tblContent {
    background: url(../images/bg_url.gif) top left repeat-x #FFF
}

.hiddenfield {
    height: 0px;
    width: 0px;
    float: left;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute
}

.warning {
    color: red;
    font-style: italic
}

.smaller {
    font-size: 80%
}

h1, h2, h3, h4, h5, h6 {
    display: inline !important;
    color: #11B4EB
}

th {
    text-align: left
}

.center {
    text-align: center
}

.padding5 {
    padding: 5px
}

table.container {
    border-collapse: collapse
}

table.container td, table.container th {
    border: 1px dotted #AAA;
    border-collapse: collapse;
    padding: 3px
}

table.container th {
    background-color: #EEE
}

.no-border {
    border: 0 !important
}

a img {
    border: 0
}

.dash-menu {
    list-style: none
}

.dash-menu li {
    text-align: center;
    margin-right: 30px
}

.dash-menu li a {
    text-decoration: none;
    outline: none
}

#menu ul {
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 0
}

#menu ul > li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    padding: 0;
    white-space: nowrap;
    border: 1px solid #FFF
}

#menu ul > li > a {
    display: block;
    float: left;
    padding: .7em 1em;
    text-decoration: none;
    color: #FFF
}

#menu ul > li.active_tab {
    background: url(../images/bg_tag_active.gif) top left repeat-x;
    border-bottom: 1px solid #d5d5d5
}

#menu ul > li.inactive_tab:hover {
    background: url(../images/bg_tag_active.gif) top left repeat-x;
    border-bottom: 0 !important
}

#menu ul > li.inactive_tab {
    background: url(../images/bg_tag_inactive.gif) top left repeat-x
}

.customFieldWrapper {
    margin-bottom: 3px
}

.dropdownBlock {
    display: none;
    position: absolute;
    top: 34px;
    left: 0px;
    z-index: 999;
    background-color: #FFF;
    border: 1px solid #11B4EB;
    color: #000;
    padding: 20px
}

#menu ul > li:hover > .dropdownBlock {
    display: block
}

.dropdownBlockInner {
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #11B4EB;
    padding: 0 5px
}

.dropdownBlockInner h3 {
    color: #434343
}

.user-permission-container {
    min-width: 500px;
    text-align: left
}

table.permissions td {
    text-align: center
}

/* jQuery UI addition */
.ui-state-success, .ui-widget-content .ui-state-success {
    border: 1px solid #145E01;
    background-color: #55FF7F;
    color: #000
}

.ui-state-success a, .ui-widget-content .ui-state-success a {
    color: #000
}

.ui-corner-all-force {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.addressrow:hover {
    cursor: pointer;
    background-color: #CCC
}

.frame {
    width: 240px;
    height: 135px;
    border: 1px solid;
}

#pagecontainer {
    width: 100%;
    margin: 0 auto;
}

#leftcolumn {
    width: 300px;
    float: left;
}

#centrecolumn {
    width: 330px;
    float: left;
}

#rightcolumn {
    width: 510px;
    float: left;
}

#comment {
    width: 290px;
    height: 125px;
}

#emailbody {
    width: 473px;
    height: 454px;
}

.fg-button {
    outline: 0;
    margin: 0 4px 0 0;
    padding: .4em 1em;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    text-align: center;
    zoom: 1;
}

ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom: 1;
    *display: inline;
    /* this fix is needed for IE7- */
}

.decimal {
    width: 40px;
}

@media print {
    tr.vendorListHeading{
        background-color: #0FFF3C !important;
        -webkit-print-color-adjust:exact;
    }
}
.green {
    background: #0FFF3C !important;
}

.yellow {
    background: #FFDA2F !important;
}

.red {
    background: #FF4B4B !important;
}

.orange {
    background: orange !important;
}

.address {
    width: 300px;
    height: 100px;
}
.noteArea {
    width: 320px;
    height: 80px;
}

.applyProduct {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: Red;
}

.plainAnchor {
    text-decoration: none;
    color: #0000ff;
}

.menuButton{
    width: 110px;
}

.element{
    width: 25px;
}
.table-bordered > thead > tr > th {
    background-color: #15147b;
}

/*.plainAnchor a:link, a:visited{*/
    /*color:#0000ff;*/
/*}*/
